:root {
   --main-text-color: #0a3d9b;
}
body {
    padding-top: 25px; /*Padding for fixed navbar */
    background-image: url("./IMAGES/bkg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-attachment: fixed;
    color: var(--main-text-color);
}

.navbar ul{
    list-style-type: none;
    background-color: #6495ed ;
    padding: 20px;
    margin: 20px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 14px;
    margin: 0px;
}

.navbar a:hover{
    background-color: #334ea0;
} 

.navbar li{
    float: left;
}

.jumbotron {
    padding: 4rem 2rem;
    margin-bottom: 2rem;
    background-color: #cd5c5c;
    border-radius: 0.3rem;
}

.jumbotron-btn-soft {
    background: #e0e0e0; /* Match background color */
    border: none;
    box-shadow: 8px 8px 16px #bebebe, -8px -8px 16px #ffffff;
    border-radius: 12px;
    padding: 15px 30px;
}


.footer {
    padding: 1rem 0;
    margin-top: 4rem;
    background-color: #343a40;
    color: white;
    text-align: center;
}

/* Helper class for image responsiveness  */
.img-responsive {
    max-width: 100%;
    height: auto;
}

